@{
    List<TbCategory> categories = ViewBag.categories;
    List<TbCourse> popularCourses = ViewBag.popularCourses as List<TbCourse>;
}

<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <img src="~/assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

        <div class="container">
            <h2 data-aos="fade-up" data-aos-delay="100">Học hôm nay,<br>Tự tin chinh phục tương lai</h2>
            <p data-aos="fade-up" data-aos-delay="200">Chúng tôi là đội ngũ giảng viên và chuyên gia tâm huyết, đồng hành cùng bạn trên hành trình học ngoại ngữ</p>
            <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
                <a href="/courses" class="btn-get-started">Bắt đầu ngay</a>
            </div>
        </div>

    </section><!-- /Hero Section -->
    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                    <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                    <h3>Môi trường học tập hiện đại – Phát triển kỹ năng toàn diện</h3>
                    <p class="fst-italic">
                        Nơi bạn được truyền cảm hứng, nâng cao năng lực ngoại ngữ và tự tin hội nhập quốc tế.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> <span>Phương pháp giảng dạy thực tiễn, dễ tiếp thu, áp dụng ngay vào cuộc sống.</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>Đội ngũ giáo viên chuyên môn cao, tận tâm đồng hành cùng học viên.</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>Giáo trình chuẩn quốc tế, cập nhật theo xu hướng mới nhất.</span></li>
                    </ul>
                    <a href="/about" class="read-more"><span>Tìm hiểu thêm</span><i class="bi bi-arrow-right"></i></a>
                </div>

            </div>

        </div>

    </section><!-- /About Section -->
    @await Component.InvokeAsync("Stats")
    <!-- Why Us Section -->
    <section id="why-us" class="section why-us">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="why-box">
                        <h3>Vì sao nên chọn chúng tôi?</h3>
                        <p>
                            Chúng tôi mang đến lộ trình học ngoại ngữ hiệu quả, phương pháp hiện đại và môi trường học tập năng động, giúp bạn tự tin sử dụng ngôn ngữ trong học tập, công việc và cuộc sống.
Đội ngũ giáo viên giàu kinh nghiệm, chương trình chuẩn quốc tế, cam kết chất lượng đầu ra.
                        </p>
                        <div class="text-center">
                            <a href="/about" class="more-btn"><span>Tìm hiểu thêm</span> <i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div><!-- End Why Box -->

                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-xl-4">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-clipboard-data"></i>
                                <h4>Giảng viên chuyên môn cao</h4>
                                <p>Được đào tạo bài bản, tận tâm giảng dạy và luôn đồng hành với học viên trong suốt quá trình học.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-gem"></i>
                                <h4>Phương pháp học hiện đại</h4>
                                <p>Kỹ năng nghe – nói – đọc – viết được phát triển đồng đều thông qua thực hành trực tiếp.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-inboxes"></i>
                                <h4>Giáo trình chuẩn quốc tế</h4>
                                <p>Tài liệu được cập nhật liên tục theo tiêu chuẩn mới nhất, phù hợp mọi trình độ.</p>
                            </div>
                        </div><!-- End Icon Box -->

                    </div>
                </div>

            </div>

        </div>

    </section><!-- /Why Us Section -->
    <!-- Features Section -->
    <section id="features" class="features section">

        <div class="container">

            <div class="row gy-4">

                @foreach(var item in categories.Where(i => (bool)i.IsActive))
                {
                    <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="features-item">
                            <i class="bi bi-mortarboard" style="color: #5fcf80;"></i>
                            <h3><a href="" class="stretched-link">@item.Name</a></h3>
                        </div>
                    </div>
                
                    <!-- End Feature Item -->
                }

            </div>

        </div>

    </section><!-- /Features Section -->
    <!-- Courses Section -->
    <section id="courses" class="courses section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Khóa học</h2>
            <p>Khóa học yêu thích</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row">

                @foreach(var item in popularCourses.Take(3))
{
    string sUrl = $"/course/{item.Alias}-{item.CourseId}.html";
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
    <div class="course-item">
        <img src="@item.Image" class="img-fluid" alt="...">
        <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <p class="category">@item.Category.Name</p>
                <p class="price">@item.PriceSale VND</p>
            </div>

            <h3><a href="@sUrl">@item.Title</a></h3>
            <p class="description">@item.ShortDescription</p>
            <div class="trainer d-flex justify-content-between align-items-center">
                <div class="trainer-profile d-flex align-items-center">
                    <img src="@item.Trainer.Image" class="img-fluid" alt="">
                    <a href="" class="trainer-link">@item.Trainer.FullName</a>
                </div>
                <div class="trainer-rank d-flex align-items-center">
                    <i class="bi bi-person user-icon"></i>&nbsp;@((ViewBag.OrderCounts.ContainsKey(item.CourseId) ? ViewBag.OrderCounts[item.CourseId] : 0))
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Course Item-->
}

            </div>

        </div>

    </section><!-- /Courses Section -->
    <!-- Trainers Index Section -->
    <section id="trainers-index" class="section trainers-index">

        <div class="container">

            <div class="row">

                @await Component.InvokeAsync("Trainer")

            </div>

        </div>

    </section><!-- /Trainers Index Section -->

</main>