@model IEnumerable<LinguaCenter.Models.TbTrainer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            <span>Quản lý giảng viên</span>
            <a asp-action="Create" class="btn btn-primary btn-sm">Thêm mới</a>
        </h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ và tên</th>
                        <th>Chuyên môn</th>
                        @* <th>Mô tả</th> *@
                        <th>Hình ảnh</th>
                        <th>Hiện</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @{
                        int i = 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Speciality)
                            </td>
                            @* <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td> *@
                            <td>
                                <img src="@Html.DisplayFor(modelItem => item.Image)" width="50" height="50" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td class="rounded-end-bottom">
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="icon-base bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.TrainerId"><i class="icon-base bx bx-edit-alt me-1"></i> Sửa</a>
                                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.TrainerId"><i class="icon-base bx bx-trash me-1"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->
</div>